.mainwin{
    padding: 1% 1%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.congratulation-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

  }
  
  .congratulation-content {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
    animation-name: slideIn;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Дополнительные стили для изображения */
  .congratulation-content img {
    max-width: 100%;
    margin-top: 20px;
  }
  